<h1 class="page-header">Detalhes da Tarefa {{ task?.title }}</h1>

<div class="form-horizontal" *ngIf="task">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Título</label>
    <div class="col-sm-10">
      <input [(ngModel)]="task.title" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Salvar</button>
      <button class="btn btn-default" (click)="goBack()">Voltar</button>
    </div>
  </div>
</div>